<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

  <div class="panel-group">
    <% @quotes.each do |quote| %>
    
    <div class="panel panel-default">
        <div class="panel-heading"><%= quote.author %></div>
        <div class="panel-body"><%= quote.quote %></div>
        <div class="panel-footer"><%= quote.background %></div>
        <div><%= link_to 'Show', quote %></div>
        <div><%= link_to 'Edit', edit_quote_path(quote) %></div>
        <div><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
      
    <% end %>
  </div>

<br>

<%= link_to 'New Quote', new_quote_path %>
